
<!DOCTYPE html>
<html>
  <head>
		<title>Nocturnialife - A Nightlife Coordination App</title>
		
    
    <!--Custom Theme files-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Intro information" />
    
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/9ef4c79c-b970-4d7b-a832-37abb5b8fe03%2FNocturniaLife.png?1518982025576" type="image/x-icon">
    
<!--     <link href="/css/guest.css" rel="stylesheet" type="text/css"> -->
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/scripts/user.js"></script>
    <!-- <meta http-equiv="refresh" content="1"> -->
	</head>

	<body>
    <!-- <div id="underconstruction">
      Site under construction
    </div> -->
    <header>
      <div class="title">
        Nocturnia Life
      </div><br>
      <div class="subtitle">
        Don't drive under influence! <br>
        Make plans ahead of time and take a cab.<br>
        Have a great night!
      </div>
      
    </header>
    
    <div class="searchbar">
      <form id="search-form">
        <input class="search" type="text" name="search" placeholder="Where you at?"/> <br>
        <input type="submit" name="Search" value="Search"/>
      </form>
    </div>
    
    <div class="content">
      Content here
    </div>
    
    <footer>
      footer
    </footer>
	</body>
</html>